@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Helvetica Pro Condensed;
  src: url("/helvetica-pro-condensed-bold.otf");
  font-weight: 700;
}

* {
  font-family: Helvetica;
}

body {
  @apply bg-blue text-white;
}

@layer utilities {
  .wrapper {
    @apply flex justify-center;
  }
  .contain {
    @apply w-[90%] max-w-[1440px] flex;
  }
  .para-1 {
    @apply text-[30px] leading-[1.25];
  }
}
